/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* Variables */
/* Primary */
/* Neutral */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(27deg, 66%, 92%);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/* Card */
.card {
  padding: 1.25rem 1.5rem;
  width: 375px;
  border-radius: 0.85rem;
}

.balance {
  background-color: hsl(10deg, 79%, 65%);
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  color: hsl(33deg, 100%, 98%);
}
.balance small {
  font-size: 0.7rem;
}
.balance h3 {
  font-weight: 500;
  font-size: 1.4rem;
}
.balance .logo {
  width: 3.5rem;
}

.spending {
  background-color: hsl(33deg, 100%, 98%);
}
.spending h3 {
  font-weight: 600;
  font-size: 1.4rem;
}
.spending .charts {
  padding: 2.5rem 0;
  border-bottom: 1px solid hsl(27deg, 66%, 92%);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.spending .charts li {
  list-style-type: none;
}
.spending .charts .chart {
  width: 2.35rem;
  display: flex;
  justify-content: center;
  height: 1rem;
  border-radius: 0.25rem;
  position: relative;
  cursor: pointer;
}
.spending .charts .chart .day {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.15rem;
  font-size: 0.6rem;
  font-weight: 500;
  color: hsl(28deg, 10%, 53%);
}
.spending .charts .chart:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(33deg, 100%, 98%);
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.spending .charts .chart:hover:before {
  opacity: 0.3;
}
.spending .charts .chart:hover .tooltip {
  transform: translateY(0);
  opacity: 1;
}
.spending .charts .tooltip {
  position: absolute;
  top: -2rem;
  font-size: 0.7rem;
  font-weight: 600;
  color: hsl(33deg, 100%, 98%);
  background-color: hsl(25deg, 47%, 15%);
  padding: 0.25rem;
  border-radius: 0.25rem;
  transition: all 300ms ease-in-out;
  transform: translateY(1.5rem);
  opacity: 0;
}
.spending .total-this-month {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.spending .total-this-month .box:first-child small {
  font-size: 0.6rem;
  font-weight: 500;
  color: hsl(28deg, 10%, 53%);
}
.spending .total-this-month .box:first-child h2 {
  font-size: 1.8rem;
  line-height: 1.1;
}
.spending .total-this-month .box:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.spending .total-this-month .box:last-child small:first-child {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.1;
}
.spending .total-this-month .box:last-child small:last-child {
  font-size: 0.6rem;
  font-weight: 500;
  color: hsl(28deg, 10%, 53%);
}

.chart.soft-red {
  background-color: hsl(10deg, 79%, 65%);
}

.chart.cyan {
  background-color: hsl(186deg, 34%, 60%);
}

.chart.current-day:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(33deg, 100%, 98%) !important;
  opacity: 0.3 !important;
}
.chart.current-day .tooltip {
  opacity: 1;
  transform: translateY(0);
}/*# sourceMappingURL=expenses_chart.css.map */